@tailwind preflight;
@tailwind components;
@tailwind utilities;

header-font = Sriracha
primary-font-family = Karma
secondary-font-family = Martel normal

@import url('https://fonts.googleapis.com/css?family=Karma|Sriracha&display=swap')

h1
  font-family: header-font

h2, h3, h4, h5, h6, p, a, span
  font-family: primary-font-family
